<h1 class='d-flex justify-content-center'>All of our flats (<%= @flats.count %>)</h1>
<div class="container">
  <div class="card">
    <div class="row">
<% @flats.each do |f| %>
<div class="col-4 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="img" style="width: 100%">
        <%= image_tag f.img %>
  </div>
        <h3><%= f.name  %></h3>
        <h4><%= f.address %></h4>
        <div class="d-flex justify-content-around">
          <p>Price: <%= f.price_per_night %></p>
          <p>Guests: <%= f.number_of_guests %></p>
        </div>
        <div class="d-flex justify-content-around">
          <p><%= link_to "More info", flat_path(f) %></p>
          <p><%= link_to "Edit", edit_flat_path(f) %></p>
          <p><%= link_to "Delete", flat_path(f), method: :delete, data: {confirm: 'Sure?'} %></p>

        </div>
      </div>
<% end %>
    </div>

  </div>
</div>

<p class='d-flex justify-content-center'><%= link_to "Add a Flat", new_flat_path, class: "btn btn-primary" %></p>
