
<div class="card">
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
</div>

<div class="card">
  <h2>A little bit more info...</h2>
  <p><%= @flat.description %></p>
</div>

<div class="d-flex justify-content-around">
  <div class="card">
    <p>Price: <%= @flat.price_per_night %></p>
  </div>
  <div class="card">

    <p>Guests: <%= @flat.number_of_guests %></p>
  </div>
</div>

<div class="d-flex justify-content-around">
<p><%= link_to "Go Back", flats_path, class: "btn btn-primary" %></p>
<p><%= link_to "edit", edit_flat_path(@flat), class: "btn btn-primary" %></p>
</div>
